.header {
  font-size: 1.5rem;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 30px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.buttons a:hover {
  color: var(--alternative-text);
}
